<html>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Código de Autenticação</title>
    <style>
        body { font-family: Arial, sans-serif; background-color: #f4f4f9; color: #333; margin: 0; padding: 20px; }
        .container { background-color: #fff; padding: 20px; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }
        h1 { color: #ee8c0e; }
        p { line-height: 1.6; }
        .event-info { margin-top: 20px; }
        .event-info p { margin: 5px 0; }
    </style>
</head>
<body>
<div class='container'>
    <h1>Código de Autenticação.</h1>
    <p>Olá!</p>
    <p>Seu código de Autenticação: <strong>{codigo}</strong></p>
    <div class='event-info'>
    </div>
    <p>Não compartilhe esse código com ninguém.</p>
    <p>Atenciosamente,</p>
    <p><em>Equipe de Organização</em></p>
</div>
</body>
</html>